body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(230, 230, 230);
}

.main-content {
    margin: 0px 10%;
    border-style: solid;
    border-color: black;
    border-width: solid;
}

.main-header {
    color: white;
    background-color: rgb(45, 27, 165);
    padding: 10px 30px
}

.adoption-box {
    background-color: white;
}
