* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(230, 230, 230);
}

.main-content {
    margin: 0px 173px 40px 173px;
    /* border-style: solid;
    border-color: black;
    border-width: solid; */
}

.main-header {
    color: white;
    background-color: rgb(45, 27, 165);
    padding: 20px 30px
}

.adoption-box {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-color: green;
    background-color: white;
    padding: 30px;
}

.dog-grid {
    display: flex;
    flex-wrap: wrap;
}

.dog-pane {
    background-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(45, 27, 165);
    border-radius: 10px;
    width: 304px;
    height: 400px;
    margin: 20px;
}

.dog-pic {
    width: 300px;
    height: 213px;
    border-radius: 8px 8px 0px 0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: rgb(45, 27, 165);
}

.dog-info {
    padding: 10px;
    font-size: 20px;
}

ul {
    padding-top: 10px;
}

li {
    display: inline-block;
    width: auto;
    background-color: rgba(45, 27, 165, .25);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    margin: 0px 2px;
    font-size: 14px;
}

.bottom-nav {
    display: flex;
    
}

.nav-button {
    height: 300px;
    width: 33.3333333333%;
}

.donate {
    background-image: linear-gradient(rgba(45, 27, 165, .5), rgba(45, 27, 165, .5)),
                        url("./starter_files/images/donate.jpg");
    background-size: cover;
    transition: .4s;
}

.donate:hover {
    background: url("./starter_files/images/donate.jpg");
    background-size: cover;
}

.volunteer {
    background-image: linear-gradient(rgba(45, 27, 165, .5), rgba(45, 27, 165, .5)),
                         url("./starter_files/images/volunteer.jpg");
    background-size: cover;
    transition: .4s;
}

.volunteer:hover {
    background: url("./starter_files/images/volunteer.jpg");
    background-size: cover;
}

.location {
    background-image: linear-gradient(rgba(45, 27, 165, .5), rgba(45, 27, 165, .5)),
                        url("./starter_files/images/location.png");
    background-size: cover;
    transition: background-image 3s;
}

.location:hover {
    background-image: linear-gradient(rgba(45, 27, 165, 0), rgba(45, 27, 165, 0)),
                        url("./starter_files/images/location.png");
    background-size: cover;
}

.nav-button a {
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    text-decoration: none;
    transition: .6s;
}

.nav-button a:hover {
    color: black;
    -webkit-text-stroke: 1px grey;
}